{
  "env": { "jest": true },
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "__tests__/ts/tsconfig.json"
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "ts": "never"
    }]
  }
}