{
  "env": { "jest": true },
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "__tests__/tsconfig.json"
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "ts": "never"
    }],
    "no-plusplus": 0
  }
}